.container{
    width: 100%;
    padding: 20px;
    margin-top: 30px;

    border-radius: 20px;
    background-color: rgba(255,255,255,0.1);
    
    max-height: 500px;
    overflow-y: scroll;

}

/* 스크롤 바 전체에 대한 스타일 지정 */
.container::-webkit-scrollbar {
    padding-right: 10px;
    width: 3px; /* 스크롤 바의 너비 */
    height: 3px; /* 스크롤 바의 높이 */
    background-color: none;  /* 스크롤 바의 배경색 */
  }
  
  /* 스크롤 바의 색상 지정 */
  .container::-webkit-scrollbar-thumb {
    background-color:#9b6f6f; /* 스크롤 바의 색상 */
  }
  
  /* 스크롤 바 호버 시 색상 지정 */
  .container::-webkit-scrollbar-thumb:hover {
    background-color: none; /* 스크롤 바의 색상 */
  }

.totalCount{
    color: var(--text);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: end;
}

.recordLine{
    margin-top: 10px;
}

.recordDay{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.recordTimeBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    
}

.section{
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgba(255,255,255);
    border-radius: 20px;
}

.today{
    color: #fff;
    font-weight: bold;
}