.container{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    max-height: 500px;
    /* overflow-y: scroll; */

}

/* 스크롤 바 전체에 대한 스타일 지정 */
.container::-webkit-scrollbar {
    padding-right: 20px;
    width: 3px; /* 스크롤 바의 너비 */
    height: 3px; /* 스크롤 바의 높이 */
    background-color: none;  /* 스크롤 바의 배경색 */
  }
  
  /* 스크롤 바의 색상 지정 */
  .container::-webkit-scrollbar-thumb {
    background-color:var(--bg); /* 스크롤 바의 색상 */
  }
  
  /* 스크롤 바 호버 시 색상 지정 */
  .container::-webkit-scrollbar-thumb:hover {
    background-color: none; /* 스크롤 바의 색상 */
  }

.totalCount{
    color: var(--text);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: end;
}

.innerBox{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    padding: 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.recordLine{
    margin-top: 10px;
}

.recordDay{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
}

.recordTimeBox{
    display: flex;
    flex-direction: column;
}

.recordBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
}

.section{
    font-size: 14px;
    padding: 5px 10px;
    background-color: #F4EBDB;
    border-radius: 20px;
    color: var(--bg);
}




/* session box */
.sessionbox{
    margin-top:30px;
}

.sessionInnerbox{
    padding-top: 10px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, minmax(100px, auto));
    gap: 10px;
}

.seesion{
    width: 130px;
    height: 130px;
    background-color: var(--btn);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}