.container{
    width: 100%;
}

.profileBox{
    margin: 20px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImg{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}