.container{
	width: 500px;
	max-width: 500px;
	border-radius: 50px;
	background: #9b6f6f;
	/* box-shadow: inset 15px 15px 38px #7f5b5b,
							inset -15px -15px 38px #b78383;
 */

	box-shadow: inset -5px -5px 10px #7f5b5b,
				inset 5px 5px 10px #b78383;
	padding: 10px 20px;
	margin-top: 50px;

	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.buttonContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	padding-left: 20%;
	padding-right: 20%;
}

.btn{
	width: 40%;
	height: 40px;
	border-radius: 20px;
	background: #c9a6a6;
	box-shadow:  15px 15px 38px #7f5b5b,
	-15px -15px 38px #b78383;

	text-align: center;
	line-height: 40px;
	color: var(--text);
	cursor: pointer;
}

.active{
	background-color: #e8d9d9;
	/* color: #c9a6a6; */
	font-weight: bold;
}

