.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    min-width: 200px;
    height: 180px;
    padding: 20px 20px;
    
    /* background: #c9a6a6;
    box-shadow: inset -5px -5px 6px #a58888,
                inset 5px 5px 6px #edc4c4; */
 
    border-radius: 20px;
	background: var(--btn);
	box-shadow:  15px 15px 38px var(--bg),
	-15px -15px 38px var(--bg);

}

.btnBox{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.btn{
    background-color: var(--bg);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text);

    cursor: pointer;
}

.sections{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.section{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.todaySections{
    margin: 0px 0 10px 0;
}

.cate{
    padding: 5px 10px;
    background-color: var(--text);
    color: var(--bg);
    border-radius: 20px;
}

.time{
    font-weight: bold;
}