
:root {
  --bg: #2C4A52;
  --text: #F4EBDB;
  --btn: #537072;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Reset some default browser styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Set the font for the entire app */
body {
  font-family: 'Arial', sans-serif;
  background-color: #efefef;
  color: var(--text);
}


