

/* Basic styling for the main content container */
.container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #9b6f6f;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  display: flex;
  font-size: 13px;
  align-items: flex-end;
}

/* Responsive design for mobile view */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}