

/* Basic styling for the main content container */
.container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #9b6f6f;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}


.username{
  margin-top: 80px;
  margin-bottom: 20px;
}


.footer{
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.logoutBox{
  position: absolute;
  top: 10px;
  right: 10px;
}
.logoutBtn{
  padding: 10px 10px;
  background-color: white;
  color: #7f5b5b;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}



/* Responsive design for mobile view */
@media (max-width: 600px) {
  .container {
    max-width: 600px;
    padding: 10px;
    height: 876px;
  }
}