.container {
    max-width: 425px;
    height: 100vh;
    margin: 0 auto;
    background-color: #2C4A52;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
    overflow-y: scroll;
}

.topBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px;
}

.logoutBtn{
    padding: 10px 10px;
    background-color: white;
    color: #537072;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.footer{
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}


.lastMonthBox{
  width: 90%;
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.6);
  color: var(--bg);
  font-weight: bold;
  padding: 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.sessionbox{
  width: 100%;
  padding: 30px 30px;
}

.sessionInnerbox{
  padding-top: 10px;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(100px, auto));
  gap: 10px;
}

.seesion{
  width: 130px;
  height: 130px;
  background-color: var(--btn);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalCount{
  color: var(--text);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: end;
  font-size: 15px;
}

  

/* Responsive design for mobile view */
@media (max-width: 600px) {
    .container {
      max-width: 425px;
      padding: 10px;
      /* height: 876px; */
      height: 100vh;
      background-color: #2C4A52;
    }
  }